# Helium (Required)
HELIUM_CONFIG_HOST='https://config.iot.mainnet.helium.io:6080'
HELIUM_KEYPAIR_PATH='/path/to/helium/delegate_key.bin'
HELIUM_KEYPAIR_BIN='/app/delegate_key.bin'
HELIUM_NET_ID='000003'
HELIUM_OUI='12345'
HELIUM_MAX_COPIES='15'
ROUTE_ID='00000000-0000-0000-0000-000000000000'
# SQLite DB Name (Required)
SQLITE_DATABASE_NAME='chirpstack-hpr-v2.db'
# ChirpStack (Required)
CHIRPSTACK_SERVER='chirpstack:8080'
CHIRPSTACK_APIKEY='your-admin-chirpstack-api-key'
REDIS_HOST='redis'
