name: Python Style Guide Check

# on: [push]

on:
  push:
    branches:
    - master
    - patch/*
    - release/*

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
    - name: Analysing the code with flake8
      run: |
        # flake8 $(git ls-files '/app/*.py');flake8 $(git ls-files '/app/Publishers/*.py');
        # F401: imported but unused
        # E303: too many blank lines
        # E501: line too long (336 > 120 characters)
        # E226 missing whitespace around arithmetic operator
        # E126 continuation line over-indented for hanging indent
        flake8 --ignore=F401,E126,E266,E303,E501 --exclude=./app/Publishers/,./app/protos/helium/ .
